/* MODIFICHE CSS NORMATIVA COOKIES*/

#iubenda-cs-banner{
	  display: table !important;
	  top : 0px;
	  float: none !important;
}
#iubenda-cs-banner .iubenda-cs-content{
	display: table-cell !important;
	vertical-align: middle !important;
	padding: 5px !important;
	float: none !important;
}
.iubenda-cs-rationale{
	float: none !important;
}
.iubenda-cs-close-btn{
	z-index: 9999 !important;
}

@media screen and (max-width: 667px){

	#iubenda-cs-banner{
	  height: 200px;
	  margin-top: -100px;
	  top: 50% !important;
	}
}
