.pagebody #widget_video {
    position: relative;
    max-height: 360px; 
    min-height: 0 !important;
    margin-bottom:20px;
    z-index:999;
    display:block;
    overflow: hidden;
}

#cont_widget_video {
    width:100%;
    z-index:999;
}

#playlist_video, #video_container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    padding-top: 0;
    width: 100%;
    height: 0;
}
#playlist_video object, #playlist_video embed, #video_container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    *height:200px;
    z-index:999;
}
#titolo_video  {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    *top:0 !important;
    *background-color: #222;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px 5px;z-index: 1000;
    top: 0;
}
/* IE8 */
@media \0screen {
 #titolo_video {
     background-color: #222;
 }
}
img.img_poster{
  	display: block;
    position:relative;
    top:auto;
    left: auto;
    width: 100%;
    max-height: 100%;
}
img.row-common {
    position: absolute;
    width: 96px;
	height: 96px;
	top: 50%;
	left: 50%;
	margin-top: -48px;
	margin-left: -48px;
    z-index:2;
    cursor: pointer;
}

.chiudi_video{
    position: absolute;
    top: -17px;
    right: -17px;
    color: #FFF;
    font-weight: bold;
    z-index: 1001;
    display: none;
    cursor: pointer;
    background: #39000b url('video-close.png') no-repeat center center !important;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* Fix video inside */
.pagebody #inside-video {
	width: 100%;
	max-width: 646px;
    margin: 0 0 15px 0;
    clear: none;
}
.pagebody #video_contenitore {
    padding: 2px;
    background: #fff;
    border: 1px solid silver;
}
.pagebody .widget-list {
	position: relative;
    padding: 0;
    background: none;
}
.pagebody .widget-list .widget-title {
    color: #000;
	font-family: Arial, Tahoma, Calibri, Verdana, Geneva, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	float: left;
	background: #f6f6f6;
	border: 1px dashed silver;
	padding: 0 5px;
	margin: 0 2px 2px 0;
}
.pagebody .widget-list #titolo_video {
	color: #000;
	padding: 0 5px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	line-height: 25px;
	display: block;
	position: static;
	width: auto;
	margin: 0 50px 2px 0;
	background: #f6f6f6;
	border: 1px dashed silver;
	top: auto;
	float: left;
}
.pagebody #widget_video {
	clear: left;
    margin: 0;
    border: 1px solid silver;
}
.pagebody #widget_video.closed {
    overflow: hidden;
    width: 0;
    visibility: hidden;
    padding: 0;
}
.pagebody #widget_video.closed #playlist_video {
    padding: 0;
}

/* Immagine copertina */
.pagebody #cont_widget_video {
    position: relative;
}
.pagebody #playlist_video_hidden {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
}
.pagebody #widget_video .social-images-container img.img_poster {
    position: relative;
    display: block;
    top: auto;
    left: auto;
}
.pagebody #widget_video .social-images-container > div {
    z-index: 99999;
}
.pagebody #widget_video .social-images-container:last-child {
    position: absolute;
    top: 50%;
    margin-left: -39px;
    left: 50%;
    margin-top: -39px;
    width: 78px;
    height: 78px;
}
.pagebody #widget_video .social-images-container:last-child > div {
    display: none;
}
.pagebody #widget_video .social-images-container:last-child > img {
    display: block;
    position: relative;
    top: auto;
    margin-top: 0;
    left: auto;
    margin-left: 0;
    width: 78px;
    height: 78px;
    cursor: pointer;
}
.pagebody .widget-list #toggle_video_inside {
    display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	border: 1px solid silver;
	background: white url('icon-close.png') no-repeat center center; 
	-webkit-background-size: 20px auto;
	-moz-background-size: 20px auto;
	background-size: 20px auto; 
	cursor: pointer;
}
.pagebody .widget-list #toggle_video_inside.active {
    background: white url('icon-play.png') no-repeat center center;
    -webkit-background-size: 20px auto;
	-moz-background-size: 20px auto;
	background-size: 20px auto; 
	cursor: pointer;
}
/* Clearfix 
.pagebody .widget-list {
    zoom: 1;
}
.pagebody .widget-list:before,
.pagebody .widget-list:after {
    content: "";
    display: table;
}
.pagebody .widget-list:after {
    clear: both;
}*/

@media screen and (max-width:667px) {
    .pagebody #inside-video {
        display: none !important;
    }
}
@media print {
    #inside-video {
        display: none !important;
    }
}














